# https://sellerhelp.rozetka.com.ua/p185-pricelist-requirements.html
# оновлено: 29.06.2026

Головна 
 ›
 Довідка 
 ›
 Товари 
 ›
 Прайс-лист XML 
 ›
 Вимоги до XML-файлу 
 Вимоги до XML-файлу
 Останнє оновлення: 29.06.2026

 Для автоматизованого імпорту товарів на маркетплейс ROZETKA продавцю необхідно підготувати прайс-лист у форматі XML (YML). Зазвичай ви можете експортувати інформацію про свої товари в необхідному форматі з вашої системи: CMS вашого сайту, сервісу Pricecreator, кабінету Prom.ua тощо.

 На цій сторінці наведено технічні вимоги безпосередньо до структури документа, XML-тегів та їхніх атрибутів. Детальну інструкцію про те, як згенерувати XML-прайс-лист читайте за посиланням .

 Технічні вимоги: 

 URL-адреса на XML-прайс-лист має бути статичною і не повинна змінюватися з часом.

 Допустиме кодування даних — тільки UTF-8.

 Стандарт XML (YML) не допускає використання недрукованих символів з ASCII-кодами від 0 до 31 (за винятком символів з кодами 9, 10, 13 — табуляція, перенесення рядка, повернення каретки).

 URL-адреса кожної товарної пропозиції має бути закодована відповідно до стандарту RFC-1738.

 Заборонено змінювати id товарів та id категорій після додавання товарів на маркетплейс.

 Cимволи " & < > ' у тексті обов'язково потрібно замінювати на їхні еквівалентні XML-коди (символьні сутності). Ця вимога стосується лише написання безпосередньо тексту (значень тегів) і не стосується самого написання XML-тегів.
 [Переглянути приклади] 

 Символ 
 Як записати в HTML-коді 

 "

 &quot;

 &

 &amp;

 >

 &gt;

 &lt;

 ' 
 &apos;

 Приклад структури даних у XML-файлі 

 <?xml version="1.0" encoding="UTF-8"?>
<yml_catalog date="2022-07-20 14:58">
 <shop>
 <name>Назва магазину</name>
 <company>Назва компанії</company>
 <url>https://www.abc.ua/</url>
 <currencies>
 <currency id="UAH" rate="1"/>
 <currency id="USD" rate="45.5"/>
 <currency id="EUR" rate="52.1"/>
 </currencies>
 <categories>
 <category id="391">Куртки для хлопчиків</category>
 </categories>
 <offers>
 <offer id="19305" available="true">
 <price>900</price>
 <currencyId>UAH</currencyId>
 <categoryId>391</categoryId>
 <picture>https://abc.ua/upload/a53/a5391cddb40be91705.jpg</picture>
 <picture>https://abc.ua/upload/9d0/9d06805d219fb525fc.jpg</picture>
 <picture>https://abc.ua/upload/93d/93de38537e1cc1f8f2.jpg</picture>
 <vendor>Abc</vendor>
 <article>58265468</article>
 <stock_quantity>100</stock_quantity>
 <name>Куртка Abc Scoperandom-HH 146 см Черная (58265468)</name>
 <name_ua>Куртка Abc Scoperandom-HH 146 см Чорна (58265468)</name_ua>
 <description>
 <![CDATA[<p>Одежда<b>Abc clothes</b> способствует развитию функций 
 головного мозга за счет поощрения мелкой моторики.</p><p>В Abc 
 <b>New Collection</b> будет особенно удобно лазать, прыгать, бег
 ать.</p><p>За счет своей универсальноcти и многофункциональности,
 <b>Abc clothes</b> отлично подходит:</p><ul><li><b>Для весны</b>
 </li><li><b>Для лета</b></li><li><b>Для ранней осени</b></li>
 </ul><p><b>Состав:</b>• 92% полиэстер, 8%эластан, не токсичность
 подтверждена лабораторно.</p><p><b>Вес:</b> 305 г</p>]]>
 </description>
 <description_ua>
 <![CDATA[<p>Одяг<b>Abc clothes</b> сприяє розвитку функцій 
 головного мозку шляхом підтримки дрібної моторики.</p><p>В Abc 
 <b>New Collection</b> буде особливо зручно стрибати, пригати та 
 бігати.</p><p>Завдяки своїй універсальності та багатофункціона
 льності, <b>Abc clothes</b> чудово підійде:</p><ul><li><b>Для 
 весни</b></li><li><b>Для літа</b></li><li><b>Для ранньої осені
 </b></li></ul><p><b>Склад:</b>• 92% поліестер, 8% еластан,
 нетоксичність підтверджена в лабораторії.</p>
 <p><b>Вага:</b> 305 г</p>]]>
 </description_ua>
 <param name="Зріст">146 см</param>
 <param name="Сезон">Весна-Осінь</param>
 <param name="Колір">Чорний</param>
 <param name="Особливості моделі">З капюшоном</param>
 <param name="Склад">92% поліестер, 8% еластан</param>
 <param name="Рекомендації по догляду">
 <value lang="uk">Не відбілювати</value>
 <value lang="ru">Не отбеливать</value>
 </param>
 <param name="Країна-виробник товару">Україна</param>
 </offer>
 </offers>
 </shop>
</yml_catalog> 
 Завантажити приклад XML-файлу ⭣ 

 Опис тегів та елементів даних в XML-файлі

 Елемент / тег 
 Значення 

 yml_catalog *обов'язковий елемент 

 Кореневий елемент формату YML. Атрибут date вказує дату і час генерації або зміни XML
 (YML). Дата повинна мати формат YYYY-MM-DD hh:mm.

 shop *обов'язковий елемент 

 Інформація про інтернет-магазин.

 name необов'язковий елемент 

 Назва магазину. На сайті не публікується, використовується для внутрішньої ідентифікації.

 Максимальна кількість символів: 255.

 company необов'язковий елемент 

 Назва компанії. Не публікується, використовується для внутрішньої ідентифікації.

 Максимальна кількість символів: 255.

 url необов'язковий елемент 

 URL-адреса головної сторінки сайту продавця.

 Максимальна кількість символів: 255.

 currencies *обов'язковий елемент 

 Перелік курсу валют. Кожна валюта описується окремим елементом currency. 

 Значення в атрибуті currency id потрібно вказувати у вигляді трибуквеного алфавітного
 коду валютиза стандартом ISO 4217: UAH USD EUR .

 Лише у гривні rate="1" . Роздільником цілої та дробової частини частини може бути крапка
 або кома.

 Приклад:
<currencies>
<currency id="UAH" rate="1"/>
<currency id="USD" rate="36.6"/>
<currency id="EUR" rate="37.9"/>
</currencies> 

 categories *обов'язковий елемент 

 Перелік категорій товарів. Для кожної категорії вказується унікальний ідентифікатор
 (id) , нумерація дозвільна.

 Id категорій не повинні змінюватись.

 Рекомендуємо, щоб в одній категорії в прайс-листі не було товарів з різних категорій сайту ROZETKA.

 Рекомендуємо вказувати назву категорії згідно з назвою на сайті ROZETKA.

 Максимальна кількість символів: 255.

 Приклад:
<categories>
<category id="1">Кутові дивани</category>
<category id="2">Смарт-годинник</category>
<category id="3">Дитячі ігрові комплекси</category>
</categories> 

 rz_id (для тегу category) необов'язковий елемент 

 Атрибут, який забезпечує автоматичну зв'язку категорії прайс-листа з категорією сайту ROZETKA.
 Вказується лише в переліку категорій, для offer вказується лише основний
 category id .

 Приклад:
<categories>
<category id="12345" rz_id="32635505">Джеми та начинки</category>
</categories> 
 id="12345" ━ ідентифікатор категорії у вашій систем; rz_id="32635505" ━
 ідентифікатор відповідної категорії на сайті ROZETKA.

 Пріоритет rz_id вище, ніж у назви категорії. Наприклад, якщо назва категорії в прайс-листі
 «Футболка», а в атрибуті rz_id буде вказано значення категорії «Шкарпетки», то автоматично буде
 зв'язок з категорією «Шкарпетки».

 offers *обов'язковий елемент 

 Список всіх товарних позицій. Відкривається після тегу </categories> . Закривається
 перед тегом </shop> .

 offer *обов'язковий елемент 

 Інформація про товарну позицію.

 Кожна позиція описується в окремому елементі offer .

 Кожна позиція повинна мати унікальний id , нумерація дозвільна, допускається використання символів: Aa-Zz і 0-9, не допускається використання кирилиці та пробілів.

 Забороняється змінювати id , якщо товар вже доданий на сайт ROZETKA.

 Атрибут available вказує наявність товару: true — товар в наявності, false — немає в наявності.

 Кожну варіацію (різновид) товару потрібно передавати окремим унікальним offer id (колір, розмір, об'єм, комплектація тощо).

 stock_quantity або quantity_in_stock *обов'язковий елемент 

 Залишки товару . Ціле цифрове значення. Товар буде в наявності поки цей параметр більше ніж 0.

 Обов'язково вказувати для кожного offer , позиції без цього тегу матимуть статус «немає в наявності».

 url (в offer) необов'язковий елемент 

 URL-адреса сторінки товару на сайті продавця.

 Максимальна кількість символів: 500.

 price *обов'язковий елемент 

 Ціна товару . Ціле або дробове числове значення. Роздільником цілої та дробової частин використовуйте крапку або кому.

 На сайті ROZETKA ціна з копійками буде округлена.

 price_old або old_price необов'язковий елемент 

 Перекреслена ціна (стара ціна товару). Ціле або дробове числове значення. Використовується для
 встановлення знижки на товар .

 Значення price_old має бути вище значення price .

 price_promo або promo_price необов'язковий елемент 

 Промо-ціна, яка використовується щоб долучити товар до поточної промоакції .

 Ціле або дробове числове значення.

 currencyId *обов'язковий елемент 

 Валюта, в якій вказана ціна товару: UAH / USD / EUR.

 categoryId *обов'язковий елемент 

 Ідентифікатор категорії, до якої відноситься товар.

 picture *обов'язковий елемент 

 URL-адреса зображення товару . Посилання повинно мати
 сертифікат безпеки (https), не має містити кирилицю, пробіли та символ + (плюс).
 Максимальна кількість символів: 1999.

 Перша фотографія в списку буде основною на сторінці товару.

 Мінімальна кількість зображень – 1; максимальна – 15. Максимальний розмір одного зображення (файлу):
 10 Мб.

 Якщо на вашому сервері є обмеження на завантаження файлів, необхідно додати у виключення наступні
 ip-адреси:

 89.184.81.192/27

 89.184.81.128/26

 78.27.198.0/24

 89.184.65.128

 88.81.226.126

 78.27.198.189

 91.210.37.210

 45.128.216.254

 45.128.217.251

 vendor *обов'язковий елемент 

 Бренд товару (торгова марка/виробник).

 article необов'язковий елемент 

 Артикул товару .

 name або model *обов'язковий елемент 

 name_ua або model_ua необов'язковий елемент 

 Назва товарної позиції .

 В прайс-листі не має бути більше однієї позиції з абсолютно однаковою назвою.

 Максимальна кількість символів: 255.

 name_ua — назва позиції українською мовою. Якщо в прайс-листі не вказується
 українська назва для товару, на маркетплейсі буде застосований автоматичний переклад 

 description *обов'язковий елемент 

 description_ua необов'язковий елемент 

 Текстовий опис товару. 

 Максимальна кількість символів: 50 000.

 Опис можна форматувати за допомогою HTML тегів, які потрібно поміщати всередину <![CDATA[]]> .

 description_ua — опис товару українською мовою. Якщо в прайс-листі немає
 українського опису, на сайті буде застосований автоматичний переклад .

 state необов'язковий елемент 

 Стан товару. Використовується для продажу уцінених, вживаних
 чи відновлених товарів .

 new — новий товар;

 stock — уцінений товар;

 used — вживаний товар;

 refurbished — відновлений товар.

 За замовчуванням (якщо тег state не вказаний) товари мають стан new .

 docket необов'язковий елемент 

 docket_ua необов'язковий елемент 

 Короткий опис товару. Текстове поле, максимальна кількість символів: 255.

 Обов’язково використовувати для вказання причини уцінки товару, якщо товар має відповідний стан.

 param *обов'язковий елемент 

 Характеристики товару (параметри) .

 Назва характеристики вказується в атрибуті name . Назва та значення обов'язково мають
 бути заповнені, не допускається наявність незаповненого тегу.

 В багатозначному текстовому параметрі значення перераховуються через роздільник
 <br> і закриваються в <![CDATA[]]> .

 Максимальна кількість символів: 500.

 Приклад:
<param name="Колір">Чорний</param>
<param name="Додаткові характеристики"><![CDATA[Прасувати за температури не більше ніж 110 °C <br>
Не можна вибілювати засобами, які містять хлор <br>
Прання за температури 30 °C.]]></param> 

 paramid необов'язковий елемент 

 Id характеристики (параметра) на сайті ROZETKA. Використовується для автоматичної зв’язки параметра.

 Id параметрів та їх значень для конкретної категорії можна завантажити в кабінеті продавця, розділ «Управління товарами» → «Довідники» .

 Якщо тип параметра ComboBox, List Values, List, Checkbox, CheckBoxGroup, CheckBoxGroupValues ━ обов'язково вказувати атрибут valueid .

 Приклад:
<param name="Колір" paramid="136895" valueid="1150615">Коричневий</param> 

 valueid необов'язковий елемент 

 Id значення характеристики (параметра) на сайті ROZETKA. Використовується для автоматичної прив'язки
 значення. Максимальна кількість символів: 255.

 Приклад:
<param name="Сезон" paramid="39560" valueid="2296922, 2645254, 63320">Осіння, Весняна, Літня</param> 

 value lang необов'язковий елемент 

 Використовується щоб вказати значення текстової характеристики двома мовами. Максимальна кількість символів: 255.

 value lang="uk" — українська; value lang="ru" — російська.

 Приклад:
<param name="Рекомендації по догляду">
<value lang="uk">Не відбілювати</value>
<value lang="ru">Не отбеливать</value>
</param> 

 Якщо у вас залишились питання, які стосуються XML-прайс-листа, зверніться до служби підтримки за темою «Робота з товарами, прайс-лист» → «Запитання щодо вивантаження XML».

 Поширені запитання 
 Чи можна використовувати в id значенні товарів букви/символи?

 Допускається використання символів: Aa-Zz (латинські літери) і 0-9. Заборонено використання кирилиці та пробілів.

 Чи можна одночасно передавати промоціну та ціну зі знижкою (price_promo та price_old)?

 Так, ви можете використовувати дані теги одночасно для товару. У такому випадку на сторінці товару буде відображатись дві ціни: ціна зі знижкою буде перекреслена, а промоціна буде виділена червоним.

 Чи можна в XML-прайс-листі використовувати посилання на зображення, які знаходяться на Google Диску?

 Ні, фотографії розміщені на Google Диску не будуть завантажені.

 < Прайс-лист XML Чи була інформація корисною? Так - 0 Ні - 0 

 В цій статті
 На початок 
 Приклад структури даних у XML-файлі 
 Опис тегів та елементів даних в XML-файлі 

 В цьому розділі
 Вимоги до XML-файлу 
 Підготовка XML прайс-листа з товарами 
 Перевірка прайс-листа (валідація) 
 Експорт товарів з Prom 
 Робота з xml файлом на Dropbox 

 Популярні статті
 Підключення доставки в магазини ROZETKA 
 Управління замовленнями 
 Оновлення статусу, ціни і кількості з XML в Pricecreator 
 Наявність та залишки в Pricecreator 
 Початок роботи з фулфілментом від ROZETKA
