# https://sellerhelp.rozetka.com.ua/p204-product-requirements.html
# оновлено: 

Головна 
 ›
 Довідка 
 ›
 Товари 
 ›
 Вимоги до оформлення інформації про товари 
 Вимоги до оформлення інформації про товари

 Ціна товару 
 Назва товару 
 Бренд товару (виробник) 
 Фото товару 
 Опис товару 
 Характеристики товару 
 Різновиди товару 
 Палітра кольорів 
 Артикул товару 

 Штрихкод товару 
 Серія товару 
 Інформація про гарантію 
 Мінімальна / максимальна кількість товару в замовленні 

 В цьому розділі
 Ціна товару 
 Назва товару 
 Бренд товару (виробник) 
 Фото товару 
 Опис товару 
 Характеристики товару 
 Різновиди товару 
 Палітра кольорів 
 Артикул товару 
 Штрихкод товару 
 Серія товару 
 Інформація про гарантію 
 Мінімальна / максимальна кількість товару в замовленні 

 Популярні статті
 Підключення доставки в магазини ROZETKA 
 Управління замовленнями 
 Оновлення статусу, ціни і кількості з XML в Pricecreator 
 Наявність та залишки в Pricecreator 
 Початок роботи з фулфілментом від ROZETKA
