# https://sellerhelp.rozetka.com.ua/p219-spare-parts-for-phones-and-tablets-requirements.html
# оновлено: 12.06.2026

Головна 
 ›
 Довідка 
 ›
 Товари 
 ›
 Правила оформлення деяких категорій товарів 
 ›
 Запчастини до телефонів / планшетів / ноутбуків 
 Правила оформлення товарів у категоріях запчастини для телефонів / планшетів / ноутбуків
 Останнє оновлення: 12.06.2026

 На ринку існує велика кількість однакових на вигляд запчастин для електроніки, але ціни на них суттєво різняться. Це викликає низку запитань у покупців: «Це копія чи оригінал?» , «Який саме товар я купую?» тощо. Щоб уникнути непорозумінь та не вводити клієнтів в оману, для всіх товарів із категорій « Запчастини для телефонів », « Запчастини для планшетів » та « Комплектуючі для ноутбуків » обов'язково має бути вказаний клас якості: Copy , High Copy , Original PRC або Original .

 Що необхідно зробити продавцю при додаванні нового товару: 

 Наприкінці назви товару вкажіть його конкретний клас якості. Приклад: Дисплей для iPhone 12 (High Copy). 

 Заповніть характеристику «Клас якості» з відповідним значенням.

 На самому початку текстового опису товару додайте інформацію про класифікацію якості (текст для копіювання наведено нижче).

 Copy — бюджетний варіант запчастини, яка загалом виконує свої функції, проте має відчутну різницю в якості виробництва та довговічності роботи.

 High Copy — високоякісна копія оригінальної запчастини. Вона виготовлена з використанням подібних до оригіналу матеріалів і за якістю незначно поступається оригінальному виробу.

 Original PRC — запчастина, виготовлена з використанням оригінальних компонентів, проте деякі з них можуть бути замінені на аналоги з мінімальним відхиленням від оригіналу (стосується переважно екранних модулів).

 Original — оригінальна версія запчастини, виготовлена із дотриманням усіх стандартів. Вона пройшла первинне тестування та має сертифікацію. Саме такі комплектуючі встановлюються на нові пристрої.

 < Правила оформлення деяких категорій товарів Чи була інформація корисною? Так - 0 Ні - 0 

 В цьому розділі
 Товари на замовлення (Передзамовлення) 
 Уцінені, вживані та відновлені товари (уцінка | б/в | refubrished) 
 Одяг, взуття та аксесуари 
 Запчастини до телефонів / планшетів / ноутбуків 
 Побутова техніка 
 Товари військового призначення (Тактичне спорядження) 
 Склоочисники та автолампи 
 Спортивні сумки та чохли 
 Туристичні ножі 
 Вимоги до розміщення зарядних станцій та генераторів 

 Популярні статті
 Підключення доставки в магазини ROZETKA 
 Управління замовленнями 
 Оновлення статусу, ціни і кількості з XML в Pricecreator 
 Наявність та залишки в Pricecreator 
 Початок роботи з фулфілментом від ROZETKA
