# https://sellerhelp.rozetka.com.ua/p256-special-category-requirements.html
# оновлено: 

Головна 
 ›
 Довідка 
 ›
 Продавати на ROZETKA 
 ›
 Вимоги до продажу деяких категорій товарів 
 Вимоги до продажу деяких категорій товарів

 Харчові продукти та дієтичні добавки (БАДи) 
 Товари для тварин (корми, вітаміни, ветеринарні препарати тощо) 
 Пневматична зброя, зброя під патрон Флобера, ножі, луки і арбалети 
 Кисневі концентратори, профілактичні засоби, фіточаї та трави 
 Газобалонне обладнання для автомобілів 
 Засоби захисту для рослин та отрута для гризунів 
 Продаж послуг 
 Продаж автозапчастин 
 Чохли для мобільних телефонів 
 Бронежилети, бронеплити, балістичні пакети та шоломи 
 Продаж тестерів для води, повітря, ґрунту 
 Продаж парфумерії 
 Продаж товарів в категорії Електротранспорт 
 Електронні сигарети та системи нагрівання тютюну 
 Тактичне обладнання та системи РЕБ 
 Контактні лінзи 

 В цьому розділі
 Харчові продукти та дієтичні добавки (БАДи) 
 Товари для тварин (корми, вітаміни, ветеринарні препарати тощо) 
 Пневматична зброя, зброя під патрон Флобера, ножі, луки і арбалети 
 Кисневі концентратори, профілактичні засоби, фіточаї та трави 
 Газобалонне обладнання для автомобілів 
 Засоби захисту для рослин та отрута для гризунів 
 Продаж послуг 
 Продаж автозапчастин 
 Чохли для мобільних телефонів 
 Бронежилети, бронеплити, балістичні пакети та шоломи 
 Продаж тестерів для води, повітря, ґрунту 
 Продаж парфумерії 
 Продаж товарів в категорії Електротранспорт 
 Електронні сигарети та системи нагрівання тютюну 
 Тактичне обладнання та системи РЕБ 
 Контактні лінзи 

 Популярні статті
 Підключення доставки в магазини ROZETKA 
 Управління замовленнями 
 Оновлення статусу, ціни і кількості з XML в Pricecreator 
 Наявність та залишки в Pricecreator 
 Початок роботи з фулфілментом від ROZETKA
