# https://sellerhelp.rozetka.com.ua/p261-pyrotechnics-gas-equipment-special-equipment-caregory-requirements.html
# оновлено: 18.06.2026

Головна 
 ›
 Довідка 
 ›
 Продавати на ROZETKA 
 ›
 Вимоги до продажу деяких категорій товарів 
 ›
 Газобалонне обладнання для автомобілів 
 Продаж газобалонного обладнання для автомобілів
 Останнє оновлення: 18.06.2026

 Для продажу на маркетплейсі газового обладнання для автомобілів продавцю необхідно надати документи, які
 підтверджують якість та безпеку обладнання:

 Сертифікат відповідності (або Декларацію про відповідність) України : документ, який
 підтверджує, що обладнання відповідає українським технічним регламентам.

 Інструкцію з експлуатації та монтажу українською мовою .

 Паспорт на газовий балон . Кожен балон обов'язково супроводжується індивідуальним технічним
 паспортом (сертифікатом) від виробника. У ньому зазначаються: серійний номер, дата виготовлення, робочий
 тиск, об'єм та дата наступного обов'язкового випробування.

 < Вимоги до продажу деяких категорій товарів Чи була інформація корисною? Так - 0 Ні - 0 

 В цьому розділі
 Харчові продукти та дієтичні добавки (БАДи) 
 Товари для тварин (корми, вітаміни, ветеринарні препарати тощо) 
 Пневматична зброя, зброя під патрон Флобера, ножі, луки і арбалети 
 Кисневі концентратори, профілактичні засоби, фіточаї та трави 
 Газобалонне обладнання для автомобілів 
 Засоби захисту для рослин та отрута для гризунів 
 Продаж послуг 
 Продаж автозапчастин 
 Чохли для мобільних телефонів 
 Бронежилети, бронеплити, балістичні пакети та шоломи 
 Продаж тестерів для води, повітря, ґрунту 
 Продаж парфумерії 
 Продаж товарів в категорії Електротранспорт 
 Електронні сигарети та системи нагрівання тютюну 
 Тактичне обладнання та системи РЕБ 
 Контактні лінзи 

 Популярні статті
 Підключення доставки в магазини ROZETKA 
 Управління замовленнями 
 Оновлення статусу, ціни і кількості з XML в Pricecreator 
 Наявність та залишки в Pricecreator 
 Початок роботи з фулфілментом від ROZETKA
