# https://sellerhelp.rozetka.com.ua/p360-kbt-requirements.html
# оновлено: 12.06.2026

Головна 
 ›
 Довідка 
 ›
 Товари 
 ›
 Правила оформлення деяких категорій товарів 
 ›
 Побутова техніка 
 Правила оформлення товарів у деяких категоріях побутової техніки
 Останнє оновлення: 12.06.2026

 Для розміщення товарів у деяких категоріях побутової техніки інформація про них має відповідати таким вимогам:

 Назва товару обов’язково має містити бренд (виробника/ТМ) та конкретну модель виробу.

 Обовʼязково вказати виробника товару (бренд/ТМ).

 Необхідно заповнити основні характеристики , які впливають на вибір покупця. Ознайомитись з переліком обов'язкових характеристиками для категорій ви можете нижче. Переглянути перелік усіх доступних параметрів для кожної категорії ви можете за посиланням ↗ (обов'язкові параметри виділені червоним кольором).

 Товари, які не відповідатимуть правилам оформлення у визначеній категорії, можуть бути не опубліковані на маркетплейсі.

 Категорія

 Акумуляторні пилососи 
 Бойлери 
 Варильні поверхні газові 
 Варильні поверхні електричні 
 Варильні поверхні індукційні 
 Варильні поверхні комбіновані 
 Вбудовані духові шафи 
 Вентилятори 
 Віконні пилососи 
 Кондиціонери 
 Кухонні витяжки 
 Кухонні плити 
 Миючі пилососи 
 Мікрохвильові печі 
 Морозильні камери 
 Пилососи для сухого прибирання 
 Посудомийні машини 
 Пральні машини 
 Промислові пилососи 
 Роботи-пилососи 
 Сушильні автомати 
 Холодильники 
 Шафи для вина 

 Обовʼязкові характеристики

 Тип пилозбірника

 З мішком

 З мішком і контейнером

 Контейнерного типу (без мішка)

 Циклонна система

 Ємність пилозбірника

 Кількість рівнів потужності

 Рівень шуму

 Потужність всмоктування (Вт)

 Насадки

 PrecisionPower Smart

 TriActive

 TriActive Turbo

 TriActive+

 Для килимів

 Для ламінату та паркету

 Для м'яких меблів

 Для миття вікон

 Для пилу

 Для прибирання вовни

 З LED-підсвічуванням

 Міні-турбощітка

 Основна

 Підлога-килим

 Підлога-килим AeroPro

 Підлога-килим AeroPro Silent

 Підлога-килим AeroPro Silent ZEN

 Підлога-килим DustPro

 Підлога-килим DustPro Silent

 Підлога-килим MultiClean

 Підлога-килим TriActive

 Турбощітка

 Щілинна

 Щітка - ролик

 Щітка комбінована

 Випускний фільтр

 HEPA

 HEPA (миється)

 HEPA 10 (мийний)

 HEPA 11 (мийний)

 HEPA 12 (мийний)

 HEPA 13 (мийний)

 HEPA 14 (мийний)

 HEPA F8 (мийний)

 HEPA F9 (мийний)

 HEPA10

 HEPA11

 HEPA12

 HEPA13

 HEPA14

 MIF (миється)

 ULTRA 16

 Аквафільтр

 Мікрофільтр

 Технічні особливості

 Автозмотування шнура

 Вертикальне паркування

 Екодвигун

 З індикатором заміни фільтра

 З індикатором заповнення пилозбірника

 З індикатором заряду батареї

 З парогенератором

 З турборежимом

 З функцією видування

 Зберігання насадок у корпусі

 Збирання води

 Плечовий ремінь

 Прогумовані колеса

 Уловлювач дрібних частинок у насадці

 Габарити (ВхШхГ)

 Габарити упаковки (ВхШхГ)

 Вага (кг)

 Вага в упаковці (кг)

 Колір виробу

 Країна-виробник товару

 Гарантія

 Тип встановлення

 над мийкою

 настінний

 під мийкою

 підлоговий

 Встановлення

 вертикальне

 горизонтальне

 Потужність (Вт)

 Об'єм (л)

 Тип керування

 механічне

 електронне

 сенсорне

 Тип нагрівального елемента (ТЕНу)

 прихований ("сухий")

 відкритий ("мокрий")

 Матеріал бака

 нержавіюча сталь

 пластик

 склокераміка

 сталевий з покриттям

 Форма

 slim

 квадратна

 прямокутна

 циліндрична

 Підведення труб

 Верхнє

 Збоку (ліве)

 Збоку (праве)

 Нижнє

 Висота, см

 Ширина, см

 Глибина, см

 Габарити в упаковці (ВхШхГ), см

 Вага (кг)

 Вага в упаковці (кг)

 Колір

 Країна-виробник

 Гарантія

 Вид поверхні

 класична

 Domino

 Матеріал поверхні

 емальована сталь

 загартоване скло

 нержавіюча сталь

 склокераміка

 Кількість конфорок

 Матеріал решіток

 емальована сталь

 чавун

 Розташування панелі керування

 Бічне

 Фронтальне

 Керування

 поворотні перемикачі

 сенсорне

 Оснащення

 автовимкнення

 вбудована витяжка

 газ-контроль

 дисплей

 електропідпалювання

 підсвітка панелі керування

 таймер

 Особливості конфорок

 гриль

 конфорка з подвійним рядом полум’я

 конфорка з потрійним рядом полум’я

 підставка WOK

 розширена зона на 2 конфорки

 розширена зона на 3 конфорки

 Розміри ніші для вбудовування (ВхШхГ)

 Габарити (ВхШхГ) (см)

 Габарити упаковки (ВхШхГ)

 Вага (кг)

 Вага в упаковці (кг)

 Колір

 Країна виробник

 Гарантія

 Вид поверхні

 Класична

 Domino

 Тип нагрівальних елементів (конфорок)

 Hi-Light

 традиційні електричні млинці

 Матеріал поверхні

 емальована сталь

 загартоване скло

 нержавіюча сталь

 склокераміка

 Кількість конфорок

 Керування

 поворотні перемикачі

 сенсорне

 Оснащення

 автовимкнення

 вбудована витяжка

 дисплей

 підсвітка панелі керування

 таймер

 Функції

 Stop&Go

 Записування у пам'ять

 Захист від дітей

 Захист від переливу

 Звуковий сигнал

 Індикатор залишкового тепла

 Об'єднані зони

 Підтримання страви в теплому стані

 Програматор

 Розпізнавання посуду

 Сенсор кипіння

 Турборежим (Booster)

 Функція автоматичного прискорення приготування

 Розміри ніші для вбудовування (ВхШхГ)

 Габарити (ВхШхГ) (см)

 Габарити в упаковці (ВхШхГ) (см)

 Вага (кг)

 Вага в упаковці (кг)

 Колір

 Країна виробник

 Гарантія

 Вид поверхні

 класична

 Domino

 Матеріал поверхні

 емальована сталь

 загартоване скло

 нержавіюча сталь

 склокераміка

 Кількість конфорок

 Оснащення

 автовимкнення

 вбудована витяжка

 дисплей

 підсвітка панелі керування

 таймер

 Функції

 Stop&Go

 Записування у пам'ять

 Захист від дітей

 Захист від переливу

 Звуковий сигнал

 Індикатор залишкового тепла

 Об'єднані зони

 Підтримання страви в теплому стані

 Програматор

 Розпізнавання посуду

 Сенсор кипіння

 Турборежим (Booster)

 Функція автоматичного прискорення приготування

 Розміри для вбудовування (ВхШхГ) (см)

 Габарити (ВхШхГ) (см)

 Габарити упаковки (ВхШхГ)

 Вага (кг)

 Вага в упаковці (кг)

 Колір

 Країна виробник

 Гарантія

 Тип нагрівальних елементів (конфорки)

 Газові

 Hi-Light

 індукційні

 традиційні електричні млинці

 Матеріал поверхні

 Емальована сталь

 Загартоване скло

 Нержавіюча сталь

 Склокераміка

 Загальна кількість конфорок

 Матеріал решітока

 емальована сталь

 чавун

 Матеріал решіток

 емальована сталь

 чавун

 Оснащення

 електропідпалювання

 газ-контроль

 дисплей

 автовимкнення

 підсвітка панелі керування

 таймер

 Наявність шнура живлення

 з вилкою

 без вилки

 відсутній

 Розміри ніші для вбудовування (ШхГ)

 Габарити (ВхШхГ) (см)

 Габарити упаковки (ВхШхГ)

 Вага (кг)

 Вага в упаковці (кг)

 Колір

 Країна-виробник

 Гарантія

 Тип духової шафи

 газова

 електрична

 Об'єм (л)

 Керування духовкою

 Механічне + сенсорне управління

 Механічне управління

 Сенсорне управління

 Матеріал панелі керування

 Емальована сталь

 Нержавіюча сталь

 Скло

 Скло з металевою рамкою

 Система очищення

 Емаль легкого очищення

 Каталітична

 Піролітична

 Функція НВЧ

 ні

 є

 Тип гриля

 газовий

 електричний

 Додаткові функції

 Багаторівневе приготування

 Блокування від дітей

 Вимкнення духовки після завершення програми

 Відкладений старт

 Газ-контроль

 Конвекція

 Подвійна конвекція

 Приготування з додаванням пари

 Приготування з термощупом

 Приготування на парі

 Розморожування

 Таймер

 SmartThings

 Автопрограми за вагою

 Дві камери приготування

 Електрозапалювання

 Рожен

 Можливість підключення до мережі

 220 - 240

 380

 Напрямні для деко

 знімні

 рельєфні

 телескопічні

 Кількість програм

 Оснащення

 Wi-Fi

 Дисплей

 Довідник дверцят

 Меню українською мовою

 Підсвітка

 Розміри ніші для вбудовування (ВхШхГ) (см)

 Габарити (ВхШхГ) (см)

 Габарити упаковки (ВхШхГ)

 Вага (кг)

 Вага в упаковці (кг)

 Колір

 Країна-виробник

 Гарантія

 Тип

 настільний

 підлоговий

 ручний (портативний)

 стельовий

 Вид

 безлопатевий

 колонний

 лопатевий

 Рекомендована площа обслуговування (кв. м)

 Живлення

 акумуляторна батарея

 батарейки

 від USB

 від мережі

 Оснащення

 акумулятор в комплекті

 дисплей

 пульт

 підсвічування

 таймер

 Функції

 3D-обертання

 автовимикання

 автоповорот

 ароматизація

 захист від перегріву

 зволоження

 іонізація

 Габарити (ВхШхГ)

 Габарити в упаковці (ВхШхГ)

 Вага (кг)

 Вага в упаковці (кг)

 Країна-виробник

 Тип пилозбірника

 З мішком

 З мішком і контейнером

 Контейнерного типу (без мішка)

 Об’єм пилозбірника (л)

 Регулювання потужності

 На корпусі

 На ручці

 Регулювання повітряного потоку

 Споживана потужність (Вт)

 Додаткові насадки

 PrecisionPower Smart

 TriActive

 TriActive Turbo

 TriActive+

 Для килимів

 Для ламінату та паркету

 Для м'яких меблів

 Для миття вікон

 Для пилу

 Для прибирання вовни

 З LED-підсвічуванням

 Міні-турбощітка

 Основна

 Підлога-килим

 Підлога-килим AeroPro

 Підлога-килим AeroPro Silent

 Підлога-килим AeroPro Silent ZEN

 Підлога-килим DustPro

 Підлога-килим DustPro Silent

 Підлога-килим MultiClean

 Підлога-килим TriActive

 Турбощітка

 Щілинна

 Щітка - ролик

 Щітка комбінована

 Оснащення

 З вібрацією

 З індикатор заповнення пилозбірника

 З пультом ДК

 Контейнер для збирання рідини

 Вихідний фільтр

 HEPA

 HEPA (миється)

 HEPA 10 (мийний)

 HEPA 11 (мийний)

 HEPA 12 (мийний)

 HEPA 13 (мийний)

 HEPA 14 (мийний)

 HEPA F8 (мийний)

 HEPA F9 (мийний)

 HEPA10

 HEPA11

 HEPA12

 HEPA13

 HEPA14

 MIF (миється)

 ULTRA 16

 Аквафільтр

 Мікрофільтр

 Паперовий

 Пінний фільтр

 Тип

 Робот-пилосос

 Ручний

 Габарити (ВхШхГ)

 Габарити упаковки (ВхШхГ)

 Вага (кг)

 Вага в упаковці (кг)

 Колір виробу

 Країна-виробник товару

 Гарантія

 Тип

 внутрішній блок (мульти)спліт-системи

 зовнішній блок (мульти)спліт-системи

 канальний

 касетний

 мультиспліт-комплект

 спліт-система

 Тип встановлення внутрішнього блока

 колонний

 мобільний

 настінний

 підлогово-стельовий

 стельовий

 Площа приміщення (м²)

 Вид

 інверторний

 звичайний

 Тип компресора

 роторний

 спіральний

 Тип фреону

 R134A

 R22

 R290

 R31

 R32

 R32A

 R410

 R410A

 Холодопродуктивність (БТО/год)

 Теплопродуктивність (БТО/год))

 Режими роботи

 Автоматичний

 Вентилятор

 Зволоження

 Іонізація

 Надтихий (до 20 дБ)

 Нічний

 Обігрів

 Осушення

 Охолодження

 Очищення повітря

 Приплив свіжого повітря

 Турборежим

 Робота за мінусової температури, °C

 Керування

 SmartThings

 Wi-Fi (вбудований)

 Wi-Fi (опціонально)

 Пульт ДК

 Функції

 Авторозморожування

 Гідрофільні покриття теплообмінників

 Датчики витоку холодоагенту

 Дисплей

 Захист від перепадів напруги

 Настроювання памʼяті

 Підсвітка

 Самодіагностика

 Самоочищення

 Сенсор присутності

 Таймер

 Функція контролю температури iFeel

 Габарити внутрішнього блока (ВхШхГ)

 Габарити зовнішнього блока (ВхШхГ)

 Вага в упаковці

 Вага внутрішнього блока

 Вага зовнішнього блока

 Колір внутрішнього блоку

 Країна-виробник

 Гарантія

 Тип

 острівна

 купольна

 телескопічна

 пласка

 Т-подібна

 вбудована

 похила

 настільна

 Тип керування

 поворотні перемикачі

 сенсорне

 кнопкове

 повзункове

 пульт ДК

 Тип монтажу

 пристінний

 стельовий

 у стільницю

 у шафу

 Продуктивність, м³/год

 Діаметр патрубку повітропроводу, мм

 Максимальний рівень шуму, дБ

 Режим роботи

 відведення повітря

 відведення повітря/рециркуляція

 Матеріал декору

 дерево

 емаль

 метал

 нержавіюча сталь

 скло

 пластик

 Оснащення

 Дисплей

 Таймер

 З високотехнологічною турбіною

 3 рейлінгом (рейкою)

 З турборежимом

 3 функцією hob2hood

 Зі зворотним клапаном

 Керування зі смартфона (Wi-Fi)

 Сенсор диму (автоувімкнення)

 Управління жестами

 Індикатор заміни фільтра

 Наявність шнура живлення

 з вилкою

 без вилки

 відсутній

 Габарити (ВхШхГ) (см)

 Габарити упаковки (ВхШхГ)

 Вага

 Вага в упаковці

 Колір

 Країна-виробник

 Гарантія

 Тип

 Газові

 Електричні

 Комбіновані (газ+електро)

 Колір

 Розміри (ШхГ) (см)

 50х50

 50х60

 60х50

 60х60

 90х60

 Газ-контроль

 поверхні

 духовки

 поверхні + духовки

 Електрозапалювання

 Кнопкою (поверхня + духовка)

 Кнопкою (поверхня)

 У ручці (поверхня + духовка)

 У ручці (поверхня)

 Зони нагріву

 Газові

 Електричні (чавунні бліни)

 Індукційні

 Склокерамічні (Hi-Light)

 Кількість конфорок

 Матеріал решіток поверхні

 Емальована сталь

 Імітація чавуна

 Чавунні

 Тип духовки

 електрична

 газова

 Обʼєм духовки

 Тип очищення

 Каталітична

 Очищення парою

 Піролітична

 Габарити (ВхШхГ) (см)

 Габарити в упаковці (ВхШхГ) (см)

 Вага (кг)

 Вага в упаковці (кг)

 Гарантія

 Країна-виробник товару

 Тип пилозбірника

 З мішком

 З мішком і контейнером

 Контейнерного типу (без мішка)

 Об’єм пилозбірника (л)

 Регулювання потужності

 На корпусі

 На ручці

 Регулювання повітряного потоку

 Довжина шнура (м)

 Споживана потужність (Вт)

 Додаткові насадки

 PrecisionPower Smart

 TriActive

 TriActive Turbo

 TriActive+

 для килимів

 Для ламінату та паркету

 Для м'яких меблів

 Для миття вікон

 Для пилу

 Для прибирання вовни

 З LED-підсвічуванням

 Міні-турбощітка

 Основна

 Підлога-килим

 Підлога-килим AeroPro

 Підлога-килим AeroPro Silent

 Підлога-килим AeroPro Silent ZEN

 Підлога-килим DustPro

 Підлога-килим DustPro Silent

 Підлога-килим MultiClean

 Підлога-килим TriActive

 Турбощітка

 Щілинна

 Щітка - ролик

 Щітка комбінована

 Тип трубки

 Алюмінієва телескопічна

 Алюмінієвий складник

 Пластикова складна

 Пластикова телескопічна

 Сталева складна

 Сталева телескопічна

 Випускний фільтр

 HEPA

 HEPA (миється)

 HEPA 10 (мийний)

 HEPA 11 (мийний)

 HEPA 12 (мийний)

 HEPA 13 (мийний)

 HEPA 14 (мийний)

 HEPA F8 (мийний)

 HEPA F9 (мийний)

 HEPA10

 HEPA11

 HEPA12

 HEPA13

 HEPA14

 MIF (миється)

 ULTRA 16

 Аквафільтр

 Мікрофільтр

 Паперовий

 Пінний фільтр

 Технічні особливості

 Технічні особливості

 Автозмотування шнура

 Вертикальне паркування

 Екодвигун

 З індикатором заповнення пилозбірника

 З парогенератором

 З турборежимом

 З функцією видування

 Зберігання насадок у корпусі

 Збирання води

 Прогумовані колеса

 Уловлювач дрібних частинок у насадці

 Габарити (ВхШхГ)

 Габарити упаковки (ВхШхГ)

 Вага (кг)

 Вага в упаковці (кг)

 Колір виробу

 Країна-виробник товару

 Гарантія

 Спосіб встановлення

 окрема

 вбудована

 Об'єм (л)

 Тип керування

 Електронне

 Електронне з поворотним перемикачем

 Кнопкове

 Кнопкове з поворотним перемикачем

 Механічне

 Сенсорне

 Тип

 Соло

 З грилем

 З конвекцією

 Тип внутрішнього покриття

 біо-керамічна емаль

 емаль

 кераміка

 нержавіюча сталь

 Тип відкриття дверцят

 за допомогою кнопки

 ручкою

 Потужність

 Додатково

 Антибактеріальне покриття

 Антипригарне покриття

 Видалення запахів

 Відкидні дверцята

 Дисплей

 Інвертор

 Очищення парою

 Поворотний стіл

 Швидкий старт

 Розміри ніші для вбудовування (ВхШхГ) (см)

 Габарити (ВхШхГ) (см)

 Габарити в упаковці (В x Ш x Г)

 Вага (кг)

 Вага в упаковці (кг)

 Колір

 Країна-виробник

 Гарантія

 Тип

 Камера

 Скриня

 Загальний об'єм (л)

 Клас енергоспоживання

 А

 В

 C (A+++)

 D (A++)

 E (A+)

 F (A)

 G (B)

 Тип компресора

 Звичайний

 Інверторний

 Система охолодження морозильної камери

 LowFrost

 No Frost

 Ручна

 Статична

 Рівень шуму (дБ)

 Спосіб встановлення

 Вбудована

 Окрема (соло)

 Кількість полиць/секцій

 Кількість ящиків/кошиків

 Модельний рік

 Розміри ніші для вбудовування (ВxШxГ)

 Габарити (ВхШхГ) (см)

 Габарити в упаковці (ВхШхГ)

 Вага (кг)

 Вага в упаковці (кг)

 Колір

 Країна-виробник товару

 Гарантія

 Тип пилозбірника

 З мішком

 З мішком і контейнером

 Контейнерного типу (без мішка)

 Об’єм пилозбірника (л)

 Регулювання потужності

 Споживана потужність (Вт)

 Рівень шуму

 Додаткові насадки

 TriActive

 TriActive+

 Для килимів

 Для ламінату та паркету

 Для м'яких меблів

 Для пилу

 Для прибирання вовни

 Міні-турбощітка

 Основна

 Підлога-килим

 Турбощітка

 Щілинна

 Щітка комбінована

 Тип трубки

 Алюмінієва телескопічна

 Алюмінієвий складник

 Пластикова складна

 Сталева складна

 Сталева телескопічна

 Вихідний фільтр

 HEPA

 HEPA (миється)

 HEPA 10 (мийний)

 HEPA 11 (мийний)

 HEPA 12 (мийний)

 HEPA 13 (мийний)

 HEPA 14 (мийний)

 HEPA F8 (мийний)

 HEPA F9 (мийний)

 HEPA10

 HEPA11

 HEPA12

 HEPA13

 HEPA14

 ULTRA 16

 Аквафільтр

 Мікрофільтр

 Паперовий

 Пінний фільтр

 Технічні особливості

 Автозмотування шнура

 Ароматизація повітря

 Вертикальне паркування

 Для великих площ

 Для власників домашніх тварин

 Екодвигун

 З індикатором заповнення пилозбірника

 З парогенератором

 З турборежимом

 З функцією видування

 Зберігання насадок у корпусі

 Збирання води

 Легкість у догляді за пилососом

 Не падає потужність всмоктування під час прибирання

 Прогумовані колеса

 Рекомендується алергікам

 Розширена гарантія на мотор

 Уловлювач дрібних частинок у насадці

 Габарити (ВхШхГ)

 Габарити упаковки (ВхШхГ)

 Вага (кг)

 Вага в упаковці (кг)

 Колір виробу

 Країна-виробник товару

 Гарантія

 Спосіб встановлення

 вбудована

 окрема(соло)

 Вид

 Вузька (45 см)

 Настільна

 Повногабаритна (46-60 см)

 Місткість комплектів

 Дисплей

 LED-індикація

 з дисплеєм

 Тип мотора

 Інверторний

 Інверторний EcoSilence Drive

 Інверторний iQDrive

 Інверторний PowerDrive

 Синхронний

 Основні програми

 Безшумне миття (нічна)

 Делікатне миття

 Економічна програма (Еко)

 Експрес-програма

 Інтенсивне миття

 Обробка парою

 Ополіскування

 Повсякденне миття

 Попереднє ополіскування (замочування)

 Клас енергоспоживання

 А

 В

 C (A+++)

 D (A++)

 E (A+)

 F (A)

 G (B)

 Клас мийки

 A

 A+

 B

 Клас сушіння

 A

 B

 C

 D

 Особливості

 Автодозування миючого засобу

 Автоматичне відкриття дверцят після завершення програми

 Акустичний сигнал завершення програми

 Використання таблеток "все в 1"

 Внутрішнє підсвічування

 З трьома кошиками

 Захист від дітей

 Захист від протікання

 Індикація промінь з годинником на підлозі

 Індикація промінь на підлозі

 Керування телефоном

 Ковзне кріплення фасаду

 Під'єднання до гарячої води

 Підйомний кошик

 Режим половинного завантаження

 Самоочисна система фільтрації

 Таймер відстрочки старту

 Колір корпусу

 Гарантія

 Розмір ніші для вбудовування (ВхШхГ) (см)

 Габарити (ВхШхГ) (см)

 Габарити упаковки (В x Ш x Г)

 Вага (кг)

 Вага в упаковці (кг)

 Країна-виробник

 Тип пральної машини

 Автомат

 Комплект пральна та сушильна машина

 Напівавтомат

 Прально-сушильні

 Технічні особливості

 LED-індикація

 З автодозингом миючого засобу

 З баком для води

 З дисплеєм

 З можливістю дозавантаження білизни

 З парою

 З підсвіткою барабана

 З розбірним баком

 Тип керування

 Механічне

 Сенсорне

 Smart функції

 Bluetooth

 NFC

 SmartThings

 Керування через Wi-Fi

 Тип завантаження

 з фронтальним завантаженням

 з вертикальним завантаженням

 Спосіб встановлення

 Вбудована

 З можливістю установки під раковину

 Окрема (соло)

 Безпека

 Блокування від дітей

 Захист від протікання (аквастоп)

 Захист від стрибків напруги

 Контроль дисбалансу

 Контроль піноутворення

 Тип двигуна

 Інверторний

 Колекторний

 Інверторний з прямим приводом

 Асинхронний

 Клас енергоспоживання

 А

 В

 C (A+++)

 D (A++)

 E (A+)

 F (A)

 G (B)

 Максимальне завантаження білизни (кг)

 Максимальна швидкість віджимання (об/хв)

 Габарити (В x Ш x Г)

 Габарити в упаковці (В x Ш x Г)

 Розміри ніші для вбудовування (В x Ш x Г)

 Вага (кг)

 Вага в упаковці (кг)

 Колір корпусу

 Країна-виробник товару

 Гарантія

 Тип пилозбірника

 З мішком

 З мішком і контейнером

 Контейнерного типу (без мішка)

 Циклонна система

 Об’єм пилозбірника (л)

 Тип прибирання

 Вологе

 Сухе

 Споживана потужність (Вт)

 Додаткові насадки

 Тип сміття

 Для бетонного пилу

 Для битого скла

 Для дрібного пилу/для дрібнодисперсного пилу

 Для тирси

 Для шерсті тварин

 Габарити (ВхШхГ)

 Габарити упаковки (ВхШхГ)

 Вага (кг)

 Вага в упаковці (кг)

 Колір

 Країна-виробник товару

 Гарантія

 Тип прибирання

 Вологе

 Миття підлоги

 Тільки сухе

 Об’єм пилозбірника (л)

 Керування

 Зі смартфону (додаток)

 На корпусі

 На пульті ДК

 Площа прибирання на цикл

 Сила всмоктування

 Ємність акумулятора

 Док-станція

 З функцією підзарядки

 Станція повного самообслуговування

 Станція самоочищення для сміття

 Технології

 Вбудована камера

 Наявність датчика LIDAR

 Побудова карти приміщення

 Повернення на базу з будь-якої кімнати

 Посилення потужності на килимах

 Продовження прибирання після підзаряджання

 Розпізнавання забруднень

 Розпізнавання перешкод

 Розпізнавання сходів

 Система антизаплутування в проводах

 Станція автовивантаження сміття

 Уникнення дрібних об'єктів перед роботом

 Уникнення килимів під час вологого прибирання

 Покриття

 Килим з високим ворсом

 Килим з низьким ворсом

 Ковролін

 Ламінат

 Лінолеум

 Паркет

 Плитка

 Запам'ятовування карт поверхів

 1

 2

 3

 4

 5

 Тип насадки для миття підлоги

 1 рухома

 1 статична

 2 круглі рухомі

 Функції зі смартфона

 Вибір режиму руху

 Вибір території/кімнат для прибирання

 Встановлення віртуальних стін

 Встановлення на заряджання

 Встановлення розкладу прибирання

 Регулювання потужності всмоктування

 Регулювання потужності подавання води

 Габарити (ВхШхГ)

 Габарити упаковки (ВхШхГ)

 Вага (кг)

 Вага в упаковці (кг)

 Колір виробу

 Країна-виробник товару

 Гарантія

 Тип

 барабанний апарат

 парова шафа

 Технологія сушіння

 тепловий насос

 конденсаційний

 Максимальне завантаження білизни (кг)

 Клас енергоспоживання

 Тип зливання води

 Каналізація

 Водозбірник

 Тип керування

 механічне

 сенсорне

 Тип двигуна

 асинхронний

 інверторний

 колекторний

 Функції та можливості

 Антизминання (легке прасування)

 Блокування від дітей

 Відкладений старт

 Дисплей

 Експрес-сушіння

 Захист від протікання (аквастоп)

 Захист від стрибків напруги

 Керування зі смартфона (Wi-Fi)

 Контроль дисбалансу

 Контроль піноутворення

 Низькотемпературна сушка

 Обробка парою

 Підсвітка барабана

 Реверсивне обертання барабана

 Розміщення у колону

 Самоочищення теплообмінника

 Сигнал про завершення програми

 Колір корпусу

 Габарити (ВхШхГ) (см)

 Габарити упаковки (В x Ш x Г)

 Вага (кг)

 Вага в упаковці (кг)

 Країна-виробник

 Гарантія

 Тип холодильника

 Side-by-side

 Багатодверний

 Двокамерний

 Однокамерний

 Спосіб встановлення

 вбудований

 відокремлений (соло)

 Розташування морозильної камери

 верхнє

 нижнє

 збоку

 без морозильної камери

 Корисний об’єм холодильної камери (л)

 Корисний об’єм морозильної камери (л)

 Система розморожування No Frost (Frost Free)

 Без No Frost

 Морозильне відділення

 Холодильне + морозильне відділення

 Холодильне відділення

 Клас енергоспоживання

 А

 В

 C (A+++)

 D (A++)

 E (A+)

 F (A)

 G (B)

 Тип компресора

 звичайний

 інверторний

 Рівень шуму (дБ)

 Особливості

 LED-освітлення

 Диспенсер

 Захист від перепадів напруги

 Зона свіжості

 Керування через Wi-Fi

 Нульова камера

 Перевішування дверей

 Полиця для пляшок

 Режим "Відпустка"

 Сигналізація відчинених дверей

 Швидке замороження

 Захист від дітей

 Скляне оздоблення дверцят

 Генератор льоду

 Автоматичний (з підключенням до системи водопостачання)

 Автоматичний (резервуар для води)

 Без льодогенератора

 Контейнер для кубиків льоду

 Ручний (поворотний)

 Розміри ніші для вбудовування (ВxШxГ)

 Габарити (ВхШхГ) (см)

 Габарити в упаковці (ВхШхГ) (см)

 Вага (кг)

 Вага в упаковці (кг)

 Колір

 Країна виробник

 Гарантія

 Тип

 Вбудовані

 Окремостоячі

 Кількість температурних зон

 1

 2

 3

 Понад 3

 Кількість пляшок

 Різновид

 кліматичні

 мультитемпературні

 Кліматичний клас

 N

 SN

 ST

 T

 Розмір ніші для вбудовування ВШГ

 Габарити (В x Ш x Г) (см)

 Габарити упаковки (В x Ш x Г) (см)

 Вага (кг)

 Вага в упаковці (кг)

 Колір

 Країна виробник

 Гарантія

 < Правила оформлення деяких категорій товарів Чи була інформація корисною? Так - 0 Ні - 0 

 В цьому розділі
 Товари на замовлення (Передзамовлення) 
 Уцінені, вживані та відновлені товари (уцінка | б/в | refubrished) 
 Одяг, взуття та аксесуари 
 Запчастини до телефонів / планшетів / ноутбуків 
 Побутова техніка 
 Товари військового призначення (Тактичне спорядження) 
 Склоочисники та автолампи 
 Спортивні сумки та чохли 
 Туристичні ножі 
 Вимоги до розміщення зарядних станцій та генераторів 

 Популярні статті
 Підключення доставки в магазини ROZETKA 
 Управління замовленнями 
 Оновлення статусу, ціни і кількості з XML в Pricecreator 
 Наявність та залишки в Pricecreator 
 Початок роботи з фулфілментом від ROZETKA
