# https://sellerhelp.rozetka.com.ua/p419-fashion-category-requirements.html
# оновлено: 12.06.2026

Головна 
 ›
 Довідка 
 ›
 Товари 
 ›
 Правила оформлення деяких категорій товарів 
 ›
 Одяг, взуття та аксесуари 
 Правила оформлення товарів у категоріях «Одягу, взуття та аксесуарів»
 Останнє оновлення: 12.06.2026

 Для розміщення товарів на маркетплейсі у категоріях « Одягу, взуття та аксесуарів » інформацію про них слід оформляти, дотримуючись загальних вимог до контенту , а також враховувати особливості, які притаманні цим категоріям і описані нижче.

 Рекомендуємо орієнтуватися на аналоги товарів продавця ROZETKA, звертати увагу на специфіку товарів, яку ми враховуємо під час визначення категорії (наприклад, штани чи капрі) або типу товару (кюлоти, кльош чи карго), та дотримуватися такої самої структури оформлення.

 Особливості оформлення контенту для одягу та взуття

 Покупцеві важливо отримати повну інформацію про товар, щоб визначитися з вибором. Вказуйте для товарів характеристики, які дозволять більше дізнатися про продукцію та точніше визначити ключові параметри для її купівлі. Особливу увагу варто приділити зазначенню такої інформації:

 Розмір.

 Колір

 Матеріал.

 1. Розмір

 Вкажіть розмір у назві товару та в характеристиках, а також додайте таблицю розмірів для вашого бренду. Додатково інформацію про розмір(-и) можна зазначити у текстовому описі та на останньому зображенні товару.

 Також варто вказувати уточнювальну інформацію (заміри виробу, довжину устілки тощо) або особливості моделі (маломірить/великомірить) — це дозволить покупцеві зорієнтуватися, підходить йому цей виріб чи ні.

 Враховуйте, що для різних категорій існують різні параметри відображення розміру:

 для дитячого одягу — вік, зріст;

 для дорослого одягу і взуття — числове, буквене значення;

 для аксесуарів — значення довжини, ширини, висоти;

 для позначення універсального розміру (пояс, шарф) — one size.

 Зверніть увагу! Сумки та рюкзаки також не додаються на сайт без зазначення розмірів.

 2. Колір

 Вкажіть колір у назві товару та в характеристиках. Значення кольору має давати покупцеві чітке уявлення про товар. Використовуйте стандартну і зрозумілу назву кольору.

 Якщо товар має кілька кольорів, вкажіть основний ( переважний ) колір і не більше двох додаткових. Наприклад:

 якщо товар чорно-червоні кросівки, у характеристиці «Колір» вказуйте — Чорний; Червоний;

 якщо товар чорно-червоні кросівки з синім носком, в характеристиці «Колір» вказуйте — Чорний; Червоний; Синій;

 Значення кольору « Різнобарвний » для тих позицій, де складно визначити один основний колір.

 Якщо ваш товар представлений у кількох варіантах кольору чи розміру, для кожного з них створіть окрему товарну позицію.

 3. Матеріал

 Вказуйте матеріал у характеристиках, щоб покупці могли обрати його значення у фільтрах пошуку в категорії. Якщо товар виготовлений із кількох матеріалів, першим потрібно вказати основний, а потім — додаткові.

 У текстовому описі товару можна детальніше розповісти про матеріали, з яких він виготовлений, а також зазначити особливості експлуатації та рекомендації щодо догляду.

 У джинсових виробах (джинси, шорти, сорочки тощо), незалежно від складу тканини у відсотковому співвідношенні, у характеристиці «Матеріал» завжди вказуйте «Джинс».

 Характеристика «Особливості»

 Використовуйте параметр «Особливості», якщо потрібно вказати тип фігури, для якої пошитий одяг, особливості крою, повноту взуття та інші відмінності конкретно цієї моделі. Наприклад: одяг великих розмірів; одяг для вагітних; для мам, які годують груддю; утеплені; велика повнота (для взуття) тощо.

 Характеристика «Категорія»

 Розміщуючи товари в категорії сумок та аксесуарів, окрім параметрів «Розмір», «Колір» і «Матеріал», обов'язково вкажіть параметр «Категорія» (для кого) : для жінок, для чоловіків, для хлопчиків, для дівчаток.

 Особливості додавання фотографій

 Використовуйте фотографії товарів із високою роздільною здатністю та можливістю масштабування (для перегляду дрібних деталей, фактури тканини чи швів) і дотримуйтеся таких рекомендацій:

 Для предметів одягу «Верх» 
 (топи, майки, футболки, светри, кофти тощо)

 Головне фото: вигляд спереду, кадр по стегна на моделі.

 Подальший порядок фото: вигляд ззаду на моделі / повний вигляд / детальний кадр (можна кілька) / кадр на моделі в повний зріст (можна кілька) / предметні фото (спереду, ззаду, деталі).

 Якщо немає фото на моделі, допускаються предметні фото.

 Для предметів одягу «Низ» 
 (шорти, джинси, спідниці)

 Головне фото: кадр на моделі по пояс, щоб було чітко видно лінію посадки.

 Подальший порядок фото: вигляд ззаду на моделі / повний вигляд / детальний кадр (можна кілька) / кадр на моделі в повний зріст (можна кілька) / предметні фото (спереду, ззаду, деталі).

 Якщо немає фото на моделі, допускаються предметні фото.

 Цілісні образи 
 (сукні, костюми, комбінезони, напівкомбінезони, пальто)

 Головне фото: кадр на моделі в повний зріст.

 Подальший порядок фото: вигляд ззаду на моделі / детальний кадр (можна кілька) / предметні фото (спереду, ззаду, деталі).

 Якщо немає фото на моделі, допускаються предметні фото.

 Дитячий одяг 

 Головне фото: предметне, вигляд спереду.

 Подальший порядок фото: вигляд ззаду / детальний кадр (можна кілька) / кадр на моделі (можна кілька).

 Якщо немає предметних фото, допускається серія фото на моделі (вигляд спереду, вигляд ззаду, детальний кадр).

 Взуття 

 Головне фото: предметне, вигляд збоку (зовнішня сторона, взуття повернуте носком праворуч).

 Подальший порядок фото: фото на нозі (можна кілька) / ракурс — пара взуття / вигляд збоку (внутрішня сторона, носком ліворуч) / вигляд ззаду / вигляд зверху / вигляд підошви / детальний кадр (можна кілька).

 Сумки та аксесуари 

 Головне фото: предметне, вигляд спереду.

 Подальший порядок фото: вигляд ззаду / детальний кадр (можна кілька) / кадр на моделі (можна кілька).

 Для рюкзаків: останній кадр — на силуеті. Якщо є фото на моделі, кадр на силуеті додавати не потрібно.

 Еротична білизна 

 Головне фото: предметне фото, вид спереду [Приклад] .

 Подальший порядок фото: предметні фото (спереду, ззаду, деталі).

 Якщо крізь одяг видно інтимні місця, вони мають бути розмиті [Приклад] , прикриті руками [Приклад] 

 , мають бути накладки під білизною [Приклад] 
 (як альтернативний варіант [Приклад] ).

 Забороняється: зображення повністю оголених людей (навіть якщо груди чи статеві органи прикриті або замальовані), сексуальних позицій, неприкритих сосків, статевих органів, а також використання зірок або бліків для приховання інтимних місць.

 Які фото не допускаються

 З темним або занадто яскравим фоном, де товар погано видно або він зливається з тлом.

 З водяними знаками (вотермарками), рамками, логотипами, написами та іншими сторонніми елементами.

 Поганої якості, зі спотвореними кольорами, слабким освітленням чи нечітким виглядом товару.

 Фото на вішалці або в руці.

 З непрасованим, зім'ятим чи невипрямленим одягом.

 Селфі, фото в дзеркалі чи в примірочній.

 Непрофесійні lifestyle-фото (формату «для домашнього альбому»).

 З образливими написами чи нецензурною лексикою.

 Якщо контекст фотографії не відповідає категорії, де розміщено товар (наприклад, еротичні пози у категоріях «Боді» або «Спортивний одяг»).

 В інтер'єрі, де присутні алкоголь, сигарети, кальян тощо.

 Із зображенням людей, які курять.

 З використанням чорно-білих фільтрів, які заважають зрозуміти реальний колір товару.

 Близькі за темою 
 Вимоги до оформлення інформації про товари 
 < Правила оформлення деяких категорій товарів Чи була інформація корисною? Так - 0 Ні - 0 

 В цій статті
 На початок 
 Особливості оформлення контенту для одягу та взуття 
 Особливості додавання фотографій 
 Які фото не допускаються 

 В цьому розділі
 Товари на замовлення (Передзамовлення) 
 Уцінені, вживані та відновлені товари (уцінка | б/в | refubrished) 
 Одяг, взуття та аксесуари 
 Запчастини до телефонів / планшетів / ноутбуків 
 Побутова техніка 
 Товари військового призначення (Тактичне спорядження) 
 Склоочисники та автолампи 
 Спортивні сумки та чохли 
 Туристичні ножі 
 Вимоги до розміщення зарядних станцій та генераторів 

 Популярні статті
 Підключення доставки в магазини ROZETKA 
 Управління замовленнями 
 Оновлення статусу, ціни і кількості з XML в Pricecreator 
 Наявність та залишки в Pricecreator 
 Початок роботи з фулфілментом від ROZETKA
