# https://sellerhelp.rozetka.com.ua/p767-military-equipment-requirements.html
# оновлено: 12.06.2026

Головна 
 ›
 Довідка 
 ›
 Товари 
 ›
 Правила оформлення деяких категорій товарів 
 ›
 Товари військового призначення (Тактичне спорядження) 
 Правила оформлення товарів у категоріях тактичного спорядження
 Останнє оновлення: 12.06.2026

 На сайті ROZETKA є окремий розділ для товарів військового призначення ( «Тактичне спорядження» ), у якому продавці маркетплейсу також можуть розміщувати свій асортимент. Під час додавання товарів у ці категорії здійснюється детальна перевірка інформації про них. Якщо товар не є військовим спорядженням, він не буде опублікований у цих категоріях.

 Нижче наведено приклади товарів, які належать до військового призначення, а які — ні. Будь ласка, не додавайте до категорій тактичного спорядження товари, які не належать до нього або мають подвійне призначення (наприклад, одяг для мисливців та рибалок, звичайний садовий інструмент тощо).

 Які товари дозволено розміщувати в розділі «Тактичне спорядження»: 

 Військові штани. [Приклад] 

 Військова куртка. [Приклад] 

 Військовий реглан. [Приклад] 

 Головні убори (військові панами, військові кепки). Допускаються камуфльовані моделі або вироби захисного кольору. Також дозволяється нанесена символіка темного чи захисного кольору. [Приклад] 

 Розвантажувальні жилети. Це жилети, які призначені для зберігання та транспортування спорядження й амуніції. Вони також можуть називатися РПС (ремінно-плечова система) і відрізняються від повноцінного жилета. [Приклад] 

 Саперні лопати. Саперними вважаються складні або нескладні лопати штикової форми завдовжки до 50 см. [Приклад] 

 Тактичні ліхтарі та аксесуари. Сюди належать ліхтарі, характеристики чи опис яких вказують на їхнє застосування у військових діях (наприклад, ліхтарі з виносними кнопками, підствольні ліхтарі, моделі з кріпленням на шолом або на зброю тощо).
 Аналогічні товари, які за своїм основним призначенням не є військовими, потрібно розміщувати в загальній категорії «Ліхтарі й аксесуари». В інформації про такі товари (назва, опис, характеристики) заборонено використовувати слова, які пов’язують продукцію з військовою справою («військовий», «тактичний», «бойовий», «армійський» тощо).

 Близькі за темою 
 Продаж бронежилетів, бронеплит, балістичних пакетів та шоломів 
 < Правила оформлення деяких категорій товарів Чи була інформація корисною? Так - 0 Ні - 0 

 В цьому розділі
 Товари на замовлення (Передзамовлення) 
 Уцінені, вживані та відновлені товари (уцінка | б/в | refubrished) 
 Одяг, взуття та аксесуари 
 Запчастини до телефонів / планшетів / ноутбуків 
 Побутова техніка 
 Товари військового призначення (Тактичне спорядження) 
 Склоочисники та автолампи 
 Спортивні сумки та чохли 
 Туристичні ножі 
 Вимоги до розміщення зарядних станцій та генераторів 

 Популярні статті
 Підключення доставки в магазини ROZETKA 
 Управління замовленнями 
 Оновлення статусу, ціни і кількості з XML в Pricecreator 
 Наявність та залишки в Pricecreator 
 Початок роботи з фулфілментом від ROZETKA
