# https://sellerhelp.rozetka.com.ua/p773-wipers-content-requirements.html
# оновлено: 12.06.2026

Головна 
 ›
 Довідка 
 ›
 Товари 
 ›
 Правила оформлення деяких категорій товарів 
 ›
 Склоочисники та автолампи 
 Правила оформлення товарів у категорії «Склоочисники» та «Автолампи»
 Останнє оновлення: 12.06.2026

 Склоочисники

 Для розміщення товарів в категорії « Склоочисники » інформація про товари повинна відповідати вимогам, які описані нижче:

 Бренд та артикул. Обов’язково вказувати для кожного товару.

 Серія. Кожен товар повинен мати серію (за винятком деяких брендів). [Переглянути довідник серій для категорії «Склоочисники»] 

 Обов'язкові для заповнення характеристики: 

 Довжина або Довжина комплекту склоочисників (мм) . Для правильного підбору товарів у категорії та для уникнення помилок зауважте, що довжина склоочисника та довжина комплекту — це різні параметри. Якщо в упаковці міститься комплект (2 чи 3 товари), необхідно використовувати параметр «довжина комплекту».

 Конструкція: безкаркасний / каркасний / гібридний / гумки.

 Тип кріплення: Bayonet (штиковий замок) / Bus Adapter (адаптер для автобуса) / Claw (клешня) / Hook (гачок) / Pin lock (штир) / Pinch tab (бічний затискач) / Push button 16 мм (вузька кнопка) / Push button 19 мм (велика кнопка) / Side Lock (бічний замок) / Side pin (бічний штир 17 мм) / Side pin (бічний штир 22 мм) / Special / Top lock (верхній замок).

 Сторона встановлення: передня / задня / водійська / пасажирська.

 Кількість в упаковці (шт.): ціле числове значення.

 Автолампи

 Для розміщення товарів у категорії « Автолампи » інформація про них повинна відповідати умовам та вимогам, які описані нижче:

 Бренд та артикул. Обов’язково вказувати для всіх без винятку товарів.

 Серія. Кожен товар повинен мати серію (за винятком деяких брендів). [Переглянути довідник серій для категорії «Автолампи»] 

 Обов'язкові для заповнення характеристики: 

 Вид лампи : галогенна / ксенонова / біксенонова / світлодіодна / розжарювання.

 Призначення : для внутрішнього освітлення салону / габаритні та сигнальні / головного світла / для панелі приладів.

 Тип лампи .

 Цоколь. Примітка: Іноді цоколь та тип лампи мають однакові значення. У такому разі потрібно заповнювати обидві характеристики, дублюючи це значення. 

 Колірна температура: ціле число без зазначення діапазону.

 Колір світіння: білий / тепло-білий / червоний / синій тощо.

 Напруга : 12 / 24.

 Кількість в упаковці: 1 / 2 / 4 (2+2) / 10.

 За бажанням також можна вказати тип пакування : блістер (B1, B2, X1, X2), коробка картонна (C1, CP), пластикова коробка (S2), спеціальна коробка (S1), набори (SM).

 < Правила оформлення деяких категорій товарів Чи була інформація корисною? Так - 0 Ні - 0 

 В цій статті
 На початок 
 Склоочисники 
 Автолампи 

 В цьому розділі
 Товари на замовлення (Передзамовлення) 
 Уцінені, вживані та відновлені товари (уцінка | б/в | refubrished) 
 Одяг, взуття та аксесуари 
 Запчастини до телефонів / планшетів / ноутбуків 
 Побутова техніка 
 Товари військового призначення (Тактичне спорядження) 
 Склоочисники та автолампи 
 Спортивні сумки та чохли 
 Туристичні ножі 
 Вимоги до розміщення зарядних станцій та генераторів 

 Популярні статті
 Підключення доставки в магазини ROZETKA 
 Управління замовленнями 
 Оновлення статусу, ціни і кількості з XML в Pricecreator 
 Наявність та залишки в Pricecreator 
 Початок роботи з фулфілментом від ROZETKA
