# https://sellerhelp.rozetka.com.ua/p780-powerstations-category-requirements.html
# оновлено: 12.06.2026

Головна 
 ›
 Довідка 
 ›
 Товари 
 ›
 Правила оформлення деяких категорій товарів 
 ›
 Вимоги до розміщення зарядних станцій та генераторів 
 Вимоги до розміщення зарядних станцій та генераторів
 Останнє оновлення: 12.06.2026

 Для розміщення на маркетплейсі товарів в категорії «Зарядні станції» та в категорії «Генератори» обов'язкова наявність гарантії терміном не менше 6 місяців (як для технічно складних приладів).

 Якщо товару немає на складі й він продається під замовлення, інформація має бути оформлена згідно з правилами розміщення товарів «під замовлення» . У разі якщо товари продаються під замовлення, проте на маркетплейсі оформлені як товари «в наявності» — вони будуть приховані з сайту і продавцю буде обмежена можливість продавати товари в даних категоріях.

 < Правила оформлення деяких категорій товарів Чи була інформація корисною? Так - 0 Ні - 0 

 В цьому розділі
 Товари на замовлення (Передзамовлення) 
 Уцінені, вживані та відновлені товари (уцінка | б/в | refubrished) 
 Одяг, взуття та аксесуари 
 Запчастини до телефонів / планшетів / ноутбуків 
 Побутова техніка 
 Товари військового призначення (Тактичне спорядження) 
 Склоочисники та автолампи 
 Спортивні сумки та чохли 
 Туристичні ножі 
 Вимоги до розміщення зарядних станцій та генераторів 

 Популярні статті
 Підключення доставки в магазини ROZETKA 
 Управління замовленнями 
 Оновлення статусу, ціни і кількості з XML в Pricecreator 
 Наявність та залишки в Pricecreator 
 Початок роботи з фулфілментом від ROZETKA
