# https://sellerhelp.rozetka.com.ua/p794-environmental-testers-category-requirements.html
# оновлено: 12.06.2026

Головна 
 ›
 Довідка 
 ›
 Продавати на ROZETKA 
 ›
 Вимоги до продажу деяких категорій товарів 
 ›
 Продаж тестерів для води, повітря, ґрунту 
 Продаж тестерів для води, повітря, ґрунту
 Останнє оновлення: 12.06.2026

 Для розміщення на маркетплейсі товарів в категорії «Тестери для води, повітря, ґрунту» продавець і товари мають відповідати наступним вимогам:

 Для нових продавців у даній категорії заборонений продаж товарів під замовлення, товари мають бути в наявності на складі.

 Продавець має надавити ринкову ціну на товари.

 Для товарів має надаватися гарантія, згідно з чинним законодавством. Інформація про гарантію має бути вказана для кожного товару.

 На сторінці товару обов'язково має бути вказана інформація про терміни доставки та розмір передоплати, якщо є така умова.

 В окремих випадках ми можемо запросити інформацію про компанію імпортера, яка надає гарантію, або сервісні центри, які її підтримують на території України. Неприпустимо, коли для отримання гарантійного сервісу продавець направляє покупця до компанії виробника, яка знаходиться за кордоном.

 У разі виявлення фактів необґрунтованого завищення ціни або продажу товару «в наявності», який насправді поставляється під замовлення, продавцю буде заборонено продаж товарів в даній категорії.

 < Вимоги до продажу деяких категорій товарів Чи була інформація корисною? Так - 0 Ні - 0 

 В цьому розділі
 Харчові продукти та дієтичні добавки (БАДи) 
 Товари для тварин (корми, вітаміни, ветеринарні препарати тощо) 
 Пневматична зброя, зброя під патрон Флобера, ножі, луки і арбалети 
 Кисневі концентратори, профілактичні засоби, фіточаї та трави 
 Газобалонне обладнання для автомобілів 
 Засоби захисту для рослин та отрута для гризунів 
 Продаж послуг 
 Продаж автозапчастин 
 Чохли для мобільних телефонів 
 Бронежилети, бронеплити, балістичні пакети та шоломи 
 Продаж тестерів для води, повітря, ґрунту 
 Продаж парфумерії 
 Продаж товарів в категорії Електротранспорт 
 Електронні сигарети та системи нагрівання тютюну 
 Тактичне обладнання та системи РЕБ 
 Контактні лінзи 

 Популярні статті
 Підключення доставки в магазини ROZETKA 
 Управління замовленнями 
 Оновлення статусу, ціни і кількості з XML в Pricecreator 
 Наявність та залишки в Pricecreator 
 Початок роботи з фулфілментом від ROZETKA
