# https://sellerhelp.rozetka.com.ua/p813-electric-transport-category-requirements.html
# оновлено: 12.06.2026

Головна 
 ›
 Довідка 
 ›
 Продавати на ROZETKA 
 ›
 Вимоги до продажу деяких категорій товарів 
 ›
 Продаж товарів в категорії Електротранспорт 
 Продаж товарів в категорії Електротранспорт
 Останнє оновлення: 12.06.2026

 Для розміщення на маркетплейсі товарів в категоріях Електросамокати, Електровелосипеди, Електроскутери, Гіроскутери, Гароборди, Дрифт-карти, Електромобілі, Електроскейти, Моноколеса, Гіроролики, продавець і товари мають відповідати наступним вимогам:

 Наявність товарів для нових продавців є обов'язковою.

 Продавець має надавити ринкову ціну на товари.

 Наявність власного сайту з відгуками.

 Відсутність систематичних скарг від користувачів, особливо на терміни доставки, наявність або незначна загальна кількість скарг при умові якісного їх врегулювання.

 У разі виявлення фактів необґрунтованого завищення ціни або продажу товару «в наявності», який насправді поставляється під замовлення, продавцю буде заборонено продаж товарів в даній категорії.

 < Вимоги до продажу деяких категорій товарів Чи була інформація корисною? Так - 0 Ні - 0 

 В цьому розділі
 Харчові продукти та дієтичні добавки (БАДи) 
 Товари для тварин (корми, вітаміни, ветеринарні препарати тощо) 
 Пневматична зброя, зброя під патрон Флобера, ножі, луки і арбалети 
 Кисневі концентратори, профілактичні засоби, фіточаї та трави 
 Газобалонне обладнання для автомобілів 
 Засоби захисту для рослин та отрута для гризунів 
 Продаж послуг 
 Продаж автозапчастин 
 Чохли для мобільних телефонів 
 Бронежилети, бронеплити, балістичні пакети та шоломи 
 Продаж тестерів для води, повітря, ґрунту 
 Продаж парфумерії 
 Продаж товарів в категорії Електротранспорт 
 Електронні сигарети та системи нагрівання тютюну 
 Тактичне обладнання та системи РЕБ 
 Контактні лінзи 

 Популярні статті
 Підключення доставки в магазини ROZETKA 
 Управління замовленнями 
 Оновлення статусу, ціни і кількості з XML в Pricecreator 
 Наявність та залишки в Pricecreator 
 Початок роботи з фулфілментом від ROZETKA
