# https://sellerhelp.rozetka.com.ua/p815-e-cigarettes-and-related-goods-category-requirements.html
# оновлено: 26.06.2026

Головна 
 ›
 Довідка 
 ›
 Продавати на ROZETKA 
 ›
 Вимоги до продажу деяких категорій товарів 
 ›
 Електронні сигарети та системи нагрівання тютюну 
 Продаж електронних сигарет, систем нагрівання тютюну та аксесуарів до них
 Останнє оновлення: 26.06.2026

 Для продажу товарів у категоріях « Аксесуари для систем нагрівання тютюну », « Пристрої для нагрівання
 тютюну », « Електронні сигарети », « Комплектуючі та аксесуари до електронних сигарет » обов'язковою умовою є недопущення
 розміщення будь-яких заборонених товарів або заборонених елементів на фотографіях. У разі додавання продавцем
 забороненої продукції маркетплейс буде змушений приховати наявні позиції в зазначених категоріях та обмежити
 продавцю доступ до розміщення товарів у них.

 Щоб отримати можливість продавати товари у цих категоріях, ознайомтеся з вимогами нижче, після чого зверніться до службу підтримки за темою «Робота з товарами, прайс-лист» →
 «Додавання / оновлення інформації в товарах».

 У цих категоріях заборонено

 Будь-яке рекламування та стимулювання продажу тютюнових виробів, знаків
 для товарів і послуг, а також інших об’єктів права інтелектуальної власності, під якими
 випускаються тютюнові вироби.

 Розміщення будь-яких підакцизних товарів як у складі комплекту та/або цілісного
 неподільного товару, так і окремо. До них належать:

 тютюн, тютюнові вироби, промислові замінники тютюну, тютюнова сировина та
 тютюнові відходи;

 тютюн для перорального вживання, традиційні сигарети й тютюн, стіки;

 рідини, що використовуються в електронних сигаретах та POD-системах;

 нікотиновмісні продукти для орального застосування (нікотинові подушечки
 тощо);

 інші нікотиновмісні продукти та їхні замінники для куріння, що
 відрізняються від рідин для електронних сигарет.

 Використання на фото, відео, пакованні та на самих товарах будь-яких елементів
 або ознак (текстів, символів, назв, зображень тощо), які: 

 рекламують тютюновий виріб або сприяють його вживанню, створюючи помилкове
 враження про його характеристики, вплив на здоров’я, ризики чи викиди;

 повідомляють про смак, запах, будь-які смако-ароматичні чи інші добавки або
 про їх відсутність;

 демонструють процес вживання нікотиновмісних речовин або візуалізують
 процес куріння;

 створюють враження, що виріб має покращену здатність до біологічного
 розкладання або інші екологічні переваги.

 Розміщення будь-яких інгредієнтів для тютюнових виробів, сигарет та тютюну для самокруток:

 що нагадують харчовий продукт або косметичний продукт;

 що містять смако-ароматичні добавки у будь-яких компонентах, таких як фільтр, папір,
 упаковка, капсула або мають будь-які технічні характеристики, що дозволяють змінювати
 запах чи смак сигарет (тютюну) або інтенсивність диму;

 що містять добавки, які роблять дим (викиди) кольоровим;

 що містять тютюн або нікотин.

 Які зображення заборонено додавати до карток товарів

 Заборонено використовувати фотографії з демонстрацією сигарет, сигар, сигарил, тютюну та будь-яких інших пристроїв і
 аксесуарів для куріння, що містять тютюнові вироби. Також заборонені фото з товарами, на яких зображено дим,
 пару з пристрою або людину, яка курить.

 Зокрема, забороняються: 

 Зображення з демонстрацією тютюнового виробу. 
 [Приклад] 

 Заборонено додавати фото, на яких чітко ідентифікується тютюновий виріб (наприклад, відкрита або напіввідкрита пачка сигарет, всередині якої видно сигаретний ряд). Якщо пачка тютюну, сигарет або упаковка з рідиною закрита й не демонструє вміст — таке зображення дозволене.

 Зображення аксесуара з демонстрацією тютюнового виробу. 
 [Приклад] 

 Заборонено додавати фото, які дозволяють розгледіти тютюновий виріб: відкритий портсигар із сигаретами, попільничка з недопалком, мундштук із цигаркою, запальничка в процесі підпалювання сигари тощо.

 Зображення аксесуара з демонстрацією тютюну. 
 [Приклад] 

 Заборонено додавати фото, де поруч з аксесуаром зображено тютюн або процес виготовлення сигарет чи сигар. Якщо аксесуар показано без демонстрації його застосування — таке фото дозволене.

 Зображення з процесом тютюнопаління. 
 [Приклад] 

 Заборонено додавати фото, на яких зображено процес куріння або натяки на нього (наприклад, сигара в зубах або сигарета в руці).

 Зображення тліючого тютюнового виробу. 
 [Приклад] 

 Навіть якщо на зображенні немає людини, але показано процес тління сигарети, сигари, сигарили чи іншого тютюнового виробу — такі фото розміщувати заборонено.

 Зображення з процесом куріння кальяну. 
 [Приклад] 

 Заборонено додавати фото, на яких зображено куріння кальяну або натяки на цей процес (наприклад, кальян у диму).

 Зображення пристрою, з якого виходить дим. 
 [Приклад] 

 Заборонено додавати фото, на яких зображено тютюновий дим, що виходить безпосередньо з пристрою для куріння. Це є натяком на процес тютюнопаління.

 Зображення диму на фоні у поєднанні з аксесуаром. 
 [Приклад] 

 Навіть якщо дим не виходить безпосередньо з приладу, а зображений лише на задньому плані — такі фото додавати заборонено.

 Зображення з принтом на товарі, що демонструє тютюновий виріб або процес куріння/вейпінгу. 
 [Приклад] 

 Заборонено фото товарів із принтами, які зображують тютюнові вироби, процес куріння, вейпінгу або містять натяки на це (сигарета в зубах, підпалювання тощо).

 Зображення порцій жувального тютюну. 
 [Приклад] 

 Заборонено додавати фото порцій або подушечок жувального тютюну, а також самого процесу його застосування.

 Зображення стіків для систем нагрівання тютюну. 
 [Приклад] 

 Необхідно уникати зображень, що демонструють безпосереднє поєднання стіків із системою нагрівання тютюну.

 Зображення з процесом вейпінгу. 
 [Приклад] 

 Заборонено фото, на яких зображено процес вейпінгу (вдихання пари, що продукується електронною сигаретою) або натяки на це (наприклад, електронна сигарета в руці на фоні пари).

 Зображення детальної інструкції з використання приладу. 
 [Приклад] 

 Заборонено додавати промо-матеріали, які детально описують процес куріння або містять інструкцію із застосування пристрою. Якщо інструкцію розміщено безпосередньо на пакованні товару, таке фото залишати дозволено.

 Законодавчі підстави 

 Зазначені обмеження поширюються на всі категорії товарів без винятку. Відповідно до ст. 16 Закону
 України «Про заходи щодо попередження та зменшення вживання тютюнових виробів і їх шкідливого
 впливу на здоров'я населення», забороняється продаж, пропонування для продажу, постачання або
 реклама нетютюнових виробів чи послуг, реклама або паковання яких містять написи, малюнки чи
 будь-які інші зображення та повідомлення, які повністю або частково ідентифікуються чи
 асоціюються з тютюновим виробом, знаком для товарів і послуг або з виробником тютюнових виробів.

 < Вимоги до продажу деяких категорій товарів Чи була інформація корисною? Так - 0 Ні - 0 

 В цій статті
 На початок 
 У цих категоріях заборонено 
 Які зображення заборонено додавати до карток товарів 

 В цьому розділі
 Харчові продукти та дієтичні добавки (БАДи) 
 Товари для тварин (корми, вітаміни, ветеринарні препарати тощо) 
 Пневматична зброя, зброя під патрон Флобера, ножі, луки і арбалети 
 Кисневі концентратори, профілактичні засоби, фіточаї та трави 
 Газобалонне обладнання для автомобілів 
 Засоби захисту для рослин та отрута для гризунів 
 Продаж послуг 
 Продаж автозапчастин 
 Чохли для мобільних телефонів 
 Бронежилети, бронеплити, балістичні пакети та шоломи 
 Продаж тестерів для води, повітря, ґрунту 
 Продаж парфумерії 
 Продаж товарів в категорії Електротранспорт 
 Електронні сигарети та системи нагрівання тютюну 
 Тактичне обладнання та системи РЕБ 
 Контактні лінзи 

 Популярні статті
 Підключення доставки в магазини ROZETKA 
 Управління замовленнями 
 Оновлення статусу, ціни і кількості з XML в Pricecreator 
 Наявність та залишки в Pricecreator 
 Початок роботи з фулфілментом від ROZETKA
