# https://sellerhelp.rozetka.com.ua/p845-contact-lenses-category-requirements.html
# оновлено: 12.06.2026

Головна 
 ›
 Довідка 
 ›
 Продавати на ROZETKA 
 ›
 Вимоги до продажу деяких категорій товарів 
 ›
 Контактні лінзи 
 Продаж контактних лінз
 Останнє оновлення: 12.06.2026

 Для продажу товарів у категорії « Контактні лінзи » продавець повинен надати документи, які підтверджують безпеку та якість продукції, а товари мають відповідати вимогам, які описані нижче. Товари повинні мати конкурентну (ринкову) ціну та достовірний опис із характеристиками. Якщо ціна або опис некоректні – товар не буде опублікований на маркетплейсі.

 Необхідні документи

 Декларація про відповідність : документ, що підтверджує відповідність товару Технічному регламенту щодо медичних виробів (Постанова КМУ №753).

 Сертифікат відповідності: оскільки лінзи мають клас ризику вище I-го, вони проходять процедуру оцінки відповідності за участю органу із сертифікації.

 Скан-копії/фото документів мають бути якісними, без затертих номерів, дат чи інформації про виробника.

 Важливо для імпорту: Якщо лінзи іноземні, обов’язковою вимогою Технічних регламентів для всіх класів виробів і для всіх видів процедур оцінки відповідності є призначення уповноваженого представника виробника в Україні .

 Вимоги до товару

 Маркування: На кожній упаковці товару має бути знак відповідності (тризуб у незамкненому колі) з номером органу сертифікації.

 Товар має супроводжуватися інформацією для безпечного використання (на упаковці або в супровідній інструкції), включно з інформацію про виробника.

 Вимоги до оформлення інформації про товар

 Обовʼязково вказати виробника (ТМ/Бренд) товару. Товари «без бренду» в цій категорії не допускаються.

 Заповнити значення обов’язкових характеристик :

 Діоптрії.

 Радіус кривизни (BC) (мм).

 Кількість в упаковці (шт).

 Гарантія.

 Опис товару має містити тільки специфікацію самого виробу: характеристики та властивості товару; можливі ризики, пов’язані з використанням тощо. В описі заборонені маркетингові фрази, відгуки чи порівняння з іншими брендами.

 Зверніть увагу! На маркетплейсі заборонено продаж підробок (копій, реплік), які містять товарний знак або логотип, ідентичний товарному знаку або логотипу іншого товару, або подібний до нього.

 < Вимоги до продажу деяких категорій товарів Чи була інформація корисною? Так - 0 Ні - 0 

 В цьому розділі
 Харчові продукти та дієтичні добавки (БАДи) 
 Товари для тварин (корми, вітаміни, ветеринарні препарати тощо) 
 Пневматична зброя, зброя під патрон Флобера, ножі, луки і арбалети 
 Кисневі концентратори, профілактичні засоби, фіточаї та трави 
 Газобалонне обладнання для автомобілів 
 Засоби захисту для рослин та отрута для гризунів 
 Продаж послуг 
 Продаж автозапчастин 
 Чохли для мобільних телефонів 
 Бронежилети, бронеплити, балістичні пакети та шоломи 
 Продаж тестерів для води, повітря, ґрунту 
 Продаж парфумерії 
 Продаж товарів в категорії Електротранспорт 
 Електронні сигарети та системи нагрівання тютюну 
 Тактичне обладнання та системи РЕБ 
 Контактні лінзи 

 Популярні статті
 Підключення доставки в магазини ROZETKA 
 Управління замовленнями 
 Оновлення статусу, ціни і кількості з XML в Pricecreator 
 Наявність та залишки в Pricecreator 
 Початок роботи з фулфілментом від ROZETKA
